body {
  background-color: black;
color: white;
font-family: Arial, Helvetica, sans-serif;}
h1 b {
  color:yellow}
h1 {
  font-size: 100px;}
h2 {
  font-size: 50px;}
p {
  font-size: 25px;}
a {color: yellow;}
